body{
display: flex;
align-items: center;
justify-content: center;
background-color: var(--bgcolor);
}
a{
text-decoration: none;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color);
    font-size:1.5vmax;
}
pre{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color);
    font-size:1.5vmax;
}
.o{
display: flex;
align-items: center;
justify-content: center;
}


.kb{
margin-top: 7vmax;
}
@media(max-width: 768px){
.kb{
margin-top: 30vmax;
}
}
.pie-container {
    position: relative;
    width: 30vmax;
    height: 30vmax;
    margin: 5vmax auto;
}

.pie {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        rgb(255, 255, 0) 0deg 90deg,
        rgb(202, 1, 71) 90deg 180deg,
        rgb(65, 105, 225) 180deg 270deg,
        rgb(62, 180, 137) 270deg 360deg
    );
}


.segments {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 3;
}

.segment {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 100% 0, 100% 100%);
    transform-origin: center;
}

.segment .a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 4;
}

.segment:nth-child(1) { transform: rotate(335deg); }
.segment:nth-child(2) { transform: rotate(65deg); }
.segment:nth-child(3) { transform: rotate(155deg); }
.segment:nth-child(4) { transform: rotate(245deg); }



.f{
width: 9.5vmax; height: 9.5vmax; position: absolute; transform: rotate(182deg); top: 14vmax; left: 22vmax; z-index: 1;
}
.m{
width: 9.5vmax; height: 9.5vmax; position: absolute; transform: rotate(0deg); top: 7.1vmax; left: -1.5vmax; z-index: 1;
}
.g{
width: 9.5vmax; height: 9.5vmax; position: absolute; transform: rotate(90deg); top: -1.7vmax; left: 13.5vmax; z-index: 1;
}
.s{
width: 9.5vmax; height: 9.5vmax; position: absolute; transform: rotate(270deg); top: 22.2vmax; left: 6.8vmax; z-index: 1;
}


.dk{
   display: flex; 
   gap: 5vmax;
   margin-top: -1vmax;
}

.str{
left: 10vmax;
top: 3vmax;
}
@media(max-width: 768px){
.str{
left: 2vmax;
top: 26vmax;
}
.dk{
    margin-top: -2vmax;
    gap: 2vmax;
    flex-direction: column;
}
}
.zzz{
display: flex;
gap: 5vmax;
}
.zz{
    display: flex; gap: 5vmax; margin-top: 1vmax; margin-bottom: 1vmax;
}
.zzzz{
    display: flex; width: 8vmax; height: 3vmax; background-color: var(--kk); align-items: center;
}
@media(max-width: 768px){
.zzzz{
margin-left: 15vmax;
}
.zz{
margin-left: -8vmax;
gap: 0vmax;
}
.zzz{
flex-direction: column;
gap: 2vmax;
margin-left: -7.5vmax;
}
}